<!-- templates/posts/list.html -->
{% extends "base.html" %}

{% block content %}

<h1>All Posts</h1>
<div class="nav-left">
    <h1><a href="{% url 'home' %}">Django blog</a></h1>
</div>
<div class="nav-right">
    <a href="{% url 'post_new' %}">+ New Blog Post</a>
</div>
<ul>
    {% for post in post_list %}
    <div class="post-entry">
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post }}</a></h2>
        <p>{{ post.body|truncatechars:170 }}</p>
    </div>
    {% endfor %}
</ul>

{% endblock content %}
